body {
    margin: 0;
    padding: 0;
    border:0;
    background-image: url('../img/home.jpeg');
    background-size: cover;  
}
* {
    box-sizing: border-box;
}
.container a {
    text-decoration: none;
    color: white;
}
.container p,.container label span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap:wrap;
    flex-flow: row wrap;
    height: 100%;
    width:100%;
}
.navbar a img {
    margin: 10px;
    height: 50px;
}
.container a {
    width:20%;
    font-size: 20px;    
}
.navbar {
    display: flex; 
    flex-direction: row ;
    width:100%;
    background-color: black;
    height: 80px;
    position:fixed;
}
.middle-container {
    width: 100%;
}
.middle-container p {
    font-size: 70px;
    width:100%; 
}
.middle-container p:nth-last-child(2) {
    text-align: center;
    width:100%;   
    font-size:25px;
}
.container button {  
    background-color:limegreen;
    height:60px;
    color:white;
    border-radius: 40px;
    display: block;
    margin: 10px auto;
    border:none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding:10px 10px;   
}
.group {
    width:33%;
    text-align: center;
}
.group p {
    width:100%;
}
.ul-style {
    text-align:right;
    display: inline-block;
    padding: 0;
}
.hamburger-menu {
    display: none;
    width: 40px;
    height: 6px;
    background: white;
    margin: 2px;
    border-radius: 5px;
}
.hamburger-container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}
.footer-container {
    display:flex;
    flex-flow: row wrap;
    align-items: baseline;
    width:100%;
    background-color: black;
}
.small {
    height: 40px;
    width:40px;
    padding: 5px;
    margin:10px;
}
.img-size {
    height: 50px;
}
/* form */


.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.flex-container-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-banner {
    padding: 0 10px;
    width:100%;
}

.label-span-style {
    display: block;
    margin-bottom: 10px;
}

.middle-container label input,
.middle-container label textarea,
.middle-container label select {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.input-field {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 10px;
}
.input-field textarea{
    height:20%;
}


.input-field.fw {
    width: 100%;
}

.submit-wrap {
    text-align: right;
    width: 100%;
    padding: 0 10px;
}

label input[type="checkbox"] {
    width: auto;
    display: inline-block;
}

.checkbox-label {
    display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox-input {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    text-transform: none;
    line-height: 18px;
    margin: 0;
}

.checkbox-input:before,
.checkbox-input:after {
    content: "";
    position: absolute;
}

.checkbox-input:before {
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid grey;
    transition: all 0.2s;
    cursor: pointer;
    border-color:white;
}

.checkbox-input:after {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAABGdBTUEAALGPC/xhBQAAAUlJREFUWAnNmEsOwjAMRBHsYA2X4BRwcS4B4hDs2YKHEpRCmthjE4hkNR973jSoUcRiNrS1PFYS1+e492MjwGXiw8zxGej3biP+PKNvpX+Q6GkKLDDBHrXk8iaz2K0epprMZsLoFXwDNUud6PBjZpgLDOZobbqwYs6t6RbIzIVpRQhFaGTvNhwBOAqYIyHcTHLGCDM1iad6WgCWXBV8KkkD0uRM6VPzNWBtjYJpi0rg0pxWLyQvN3AWRQTzJYaYSSIwlYzADPqYo1t+H6JF/qXwr36y3Ey60JXmumxeDVxb+4o5DVCTE2LOArLkUuYYAFOjMucR9tQWzUUIRmg8zIUJiZpbyy1Q2G9aky4smHifMmubC96JirGaoU5UQFspTVYzoUUg1ieZkwsExFrywc7vQydR20lcrKqOfLD2EmCPGv5Sg9tftRf/DkonsxkSKHbGAAAAAElFTkSuQmCC');
    background-size: 100%;
    opacity: 0;
    /* transform: scale3d(0, 0, 0);
    transition: all 0.1s; */
    cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-input::before {
    border-color: #000;
}

input[type="checkbox"]:checked + .checkbox-input:after {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
/* Spinner */
.flex-xy-center {
    display:flex;
    justify-content: center;
    align-items: center;    
  }
  .fs {
    width:100%;
    height: 100%;
  }
  .spinner {
    display:flex;
    flex-wrap:wrap;
    width:150px;
    height:150px;
    padding: 4px;
    border-radius:50%;
    opacity: .3;
    background-color:black;
    animation:2s animOut infinite ease-in-out;
    animation-delay: .5s;
  
  }
  .spinner div {
    display:flex;
    flex-wrap:wrap;
    width:150px;
    height:150px;
    border-radius: 50%;
    padding:4px;
    background-color:grey;
    animation:2s animIn infinite ease-in-out;
    animation-delay: 1s; 
  }
   /* Media Queries*/ 
  @keyframes animIn {
    0% {
        transform: scale(1);
        
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        
    }
  }
  
  @keyframes animOut {
    0% {
        transform: scale(3);
      
    }
    50% {
        transform: scale(1);
    }
    100% {
        
        transform: scale(3);
    }
  } 
  @media screen and (max-width: 780px) {
    .group {
        width:50%;
    }
    .group:nth-last-child(1) {
        width: 100%;
    }
    .navbar p {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .hamburger-container {
        width:100%;
    }
}
  @media screen and (max-width: 640px) {
    .input-field {
        width: 100%;
    }
}
  