.navbar{
    background: white; 
}

.subtitle-bar-black {
    background:black;
    display: flex;
    justify-content: center;
    a{
        color: white;
    }
}
.cookies {
    color:lightgrey;

    a {
        color:white;
    }
}